<!DOCTYPE html>
<html>
<head>
    <title>User Service</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>User Management System</h1>

<div class="container">

    <div class="card">
        <h2>Tenant Management</h2>

        <p>Create, Update and Delete Tenants.</p>

        <a href="/tenants-page">
            <button>Open Tenant Page</button>
        </a>

    </div>

    <div class="card">

        <h2>User Management</h2>

        <p>Create and Manage Users.</p>

        <a href="/users-page">
            <button>Open User Page</button>
        </a>

    </div>

</div>

</body>
</html>